html, body {
    background-color: rgb(240, 235, 248) !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h3, h5 {
    font-family: 'Montserrat', sans-serif !important;
}

.navbar {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.navbar .logo {
    margin-bottom: 0;
}

.content-container {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.panel {
    margin-top: 3rem;
}

.panel h1 {
    margin: 0;
    font-size: 42px;
}

.panel-heading h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.form-group.radio {
    padding-left: 20px;
}
.form-group.radio label {
    display: block;
}

/* do not display the text input if the radio request type "other" isn't checked */
input[type="radio"]:not(:checked) + input[type="text"] {
    display: none;
}

@supports (display: flex) {
    @media (min-width: 700px) {
        .address-box {
            display: flex;
        }
        .address-box .postal-code {
            flex: 1 0 0;
        }
        .address-box .city {
            flex: 4 0 0;
            padding-left: 3rem;
        }
    }
}

.submit {
    text-align: right;
}

footer .footer-logo {
    height: auto;
}
footer .nav-item {
    color: #e6e9ed;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

ul.status {
    list-style: none;
}

ul.status li {
    margin: 20px;

}

ul.status li.done:before {
    content: '✓';
    color: darkgreen;
    background:#a9d8be;
}

ul.status li:before {
    display: inline-block;
    content:'⋯';
    color: blue;
    margin: 10px 20px 10px 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align:center;
    border-radius: 25px;
    border: 1px solid #ccc;
    background: #c4c4f8;
}
